.anchors-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16rem;
}

@media screen and (max-width: 574px) {
  .anchors-wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    inset: 0;
    background-color: var(--black);
    overflow-y: hidden;
  }
}