.button {
  display: block;
  position: relative;
  overflow: hidden;

  border: 2px solid var(--blue);
  /* border-radius: 25rem; */
  padding: 8rem 16rem;
  /* background-color: #6200ee; */

  color: var(--white);

  cursor: pointer;
  /* transition: background-color 400ms; */
}
