.bar {
  background-color: black;
  height: 4rem;
  width: 22rem;
  border-radius: 50rem;
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  z-index: 1;
  width: 36rem;
  height: 36rem;
  border-radius: 50rem;
  border: none;

  background-color: pink;
}

@media screen and (min-width: 575px) {
  .menu-icon {
    display: none;
  }
}
