.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  width: 40rem;
  height: 40rem;
  border-radius: 50rem;
  border: none;
  background-color: var(--white);

  position: relative;
  cursor: pointer;
}

.bar {
  background-color: var(--black);
  height: 4rem;
  width: 22rem;
  border-radius: 50rem;
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

@media screen and (min-width: 575px) {
  .menu-icon {
    display: none;
  }
}
